In [ ]:
empty_tuple = ()
print(type(empty_tuple))    
nums = list()

<class 'tuple'>

In [11]:
nums.append(1)
nums.append(2)
nums.append(3)

print(nums)

my_tuples = tuple(nums)
even_nums = (2, 4, 6, 8)

print(my_tuples)
print(even_nums)

[1, 2, 3, 1, 2, 3]
(1, 2, 3, 1, 2, 3)
(2, 4, 6, 8)

In [12]:
mixed_tuple=(1,"Hello World",3.14, True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [ ]:
numbers=tuple([1,2,3,4,5,6])
numbers[::1]
numbers[::-1]

for i,n in enumerate(numbers):
    print(i,n)

0 1
1 2
2 3
3 4
4 5
5 6

In [21]:
# Tuple methods
numbers.count(1)
numbers.index(4)

3

In [36]:
## Tuple Operations
letters = list("vineet")

concatenation_tuple = numbers + tuple(letters)
print(concatenation_tuple)

mixed_tuple * 2

letters * 3

(1, 2, 3, 4, 5, 6, 'v', 'i', 'n', 'e', 'e', 't')

['v',
 'i',
 'n',
 'e',
 'e',
 't',
 'v',
 'i',
 'n',
 'e',
 'e',
 't',
 'v',
 'i',
 'n',
 'e',
 'e',
 't']

In [37]:
# packing tuple
packed_tuple = 1, "pika", 3.14

print(packed_tuple)

(1, 'pika', 3.14)

In [ ]:
# unpacking tuple
a, b, c = packed_tuple

print(a, b, c)

1 pika 3.14

In [52]:
# unpacking with *
full_name = "Aman Kumar Anshu Bharti"
full_name = tuple(full_name.split())
first_name, *middle, last_name = full_name

print(first_name, middle, last_name)

Aman ['Kumar', 'Anshu'] Bharti

In [ ]:
for i in range(5):
    print(i, end=" ")
    print()

0 1 2 3 4